@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lexend+Mega:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Mega', sans-serif;
}

body {
  background-color: #A1DD70;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* min-height: 100vh; */
  padding: 20px;
}

.app-container {
  width: 100%;
  /* max-width: 1200px; */
  padding: 20px;
  text-align: center;
}

.header-card {
  background-color: #FFDE95;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 4px 4px 0 #333;
  margin-bottom: 30px;
}

/* .intro-card {
  background-color: #FFDE95;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 4px 4px 0 #333;
  margin-bottom: 30px;
}

.intro-card p {
  margin: 0;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
} */

.intro-text {
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  color: #333;
}

.error {
  color: #dc3545;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.split-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-section {
  width: 45%;
  text-align: left;
}

.right-section {
  width: 45%;
  text-align: center;
}

.form-container {
  background-color: #ffe066;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 4px 4px 0 #333;
  margin-bottom: 30px;
  width: 45vw;
}

.neobrutal-input {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

.neobrutal-checkboxes {
  margin-bottom: 20px;
}

.neobrutal-checkboxes label {
  margin-right: 20px;
  font-size: 1rem;
}

.neobrutal-button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.neobrutal-button:hover {
  background-color: #555;
}

.card {
  background-color: #ffe066;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 4px 4px 0 #333;
  text-align: center;
  width: 40vw;
}

.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.card-image {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.chat-history {
  background-color: #ffe066;;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 4px 4px 0 #333;
  width: 45vw;
}

.chat-entry {
  margin-bottom: 20px;
}

.chat-entry p {
  margin-bottom: 10px;
}

.chat-entry hr {
  border: none;
  border-top: 1px solid #333;
  margin: 20px 0;
}
